@import "tailwindcss";

html,
body,
#root {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
    font-family:
        Inter,
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        sans-serif;

    background-color: #fafafa;
    color: #111827;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

button {
    cursor: pointer;
}

a {
    color: inherit;
    text-decoration: none;
}

code {
    font-family:
        "JetBrains Mono",
        Consolas,
        monospace;
}